.DS_Store
node_modules
dist
dist-ssr
TODOs.md
*.log
temp
explorations
.idea
*.local
*.cpuprofile
.env
packages/**/pnpm-lock.yaml
packages/**/package-lock.json
packages/**/yarn.lock
packages/**/dist
packages/**/dist-ssr
packages/**/node_modules
temp/**/*
.pnpm-store
