# build and test on linux, windows, mac with node  14, 16, 17
name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  # "checks" job runs on linux + 16 only and checks that install, build, lint and audit work
  # it also primes the pnpm store cache for linux, important for downstream tests
  checks:
    timeout-minutes: 5
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # pseudo-matrix for convenience, NEVER use more than a single combination
        node: [16]
        os: [ubuntu-latest]
    outputs:
      build_successful: ${{ steps.build.outcome == 'success' }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: install pnpm
        shell: bash
        run: |
          PNPM_VER=$(jq -r '.packageManager | if .[0:5] == "pnpm@" then .[5:] else "packageManager in package.json does not start with pnpm@\n" | halt_error(1)  end' package.json)
          echo installing pnpm version $PNPM_VER
          npm i -g pnpm@$PNPM_VER
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'pnpm'
          cache-dependency-path: '**/pnpm-lock.yaml'
      - name: install
        run: pnpm install --frozen-lockfile --prefer-offline --ignore-scripts
      - name: build
        id: build
        run: pnpm build
      - name: lint
        if: (${{ success() }} || ${{ failure() }})
        run: pnpm lint
      - name: audit
        if: (${{ success() }} || ${{ failure() }})
        run: pnpm audit

  # this is the test matrix, it runs with node16 on linux,windows,macos + node14,17 on linux
  # it is skipped if the build step of the checks job wasn't successful (still runs if lint or audit fail)
  test:
    needs: checks
    if: (${{ success() }} || ${{ failure() }}) && (${{ needs.checks.output.build_successful }})
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node: [16]
        os: [ubuntu-latest, macos-latest, windows-2019]
        include:
          - node: 14
            os: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: install pnpm
        shell: bash
        run: |
          PNPM_VER=$(jq -r '.packageManager | if .[0:5] == "pnpm@" then .[5:] else "packageManager in package.json does not start with pnpm@\n" | halt_error(1)  end' package.json)
          echo installing pnpm version $PNPM_VER
          npm i -g pnpm@$PNPM_VER
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'pnpm'
          cache-dependency-path: '**/pnpm-lock.yaml'
      - name: install
        run: pnpm install --frozen-lockfile --prefer-offline --ignore-scripts
      - name: build
        run: pnpm build:ci
      - name: run tests
        run: pnpm test:ci
      - name: archive tests temp directory
        if: failure()
        shell: bash
        run: tar -cvf test-temp.tar  --exclude="node_modules"  temp/
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: test-failure-${{github.run_id}}-${{ matrix.os }}-${{ matrix.node }}
          path: |
            test-temp.tar
            temp/serve/jest-results.json
            temp/serve/junit.xml
            temp/build/jest-results.json
            temp/build/junit.xml
            pnpm-debug.log
      - uses: actions/upload-artifact@v3
        if: success()
        with:
          name: test-success-${{github.run_id}}-${{ matrix.os }}-${{ matrix.node }}
          path: |
            temp/serve/jest-results.json
            temp/serve/junit.xml
            temp/build/jest-results.json
            temp/build/junit.xml
