name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
env:
  # we call `pnpm playwright install` instead
  PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: '1'

# cancel in-progress runs on new commits to same PR (gitub.event.number)
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true

# use min permissions
permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  # "checks" job runs on linux + node lts only and checks that install, build, lint and audit work
  # it also primes the pnpm store cache for linux, important for downstream tests
  checks:
    timeout-minutes: 5
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # pseudo-matrix for convenience, NEVER use more than a single combination
        node: [22]
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
          package-manager-cache: false # pnpm is not installed yet
      - name: install pnpm
        shell: bash
        run: |
          PNPM_VER=$(jq -r '.packageManager | if .[0:5] == "pnpm@" then .[5:] else "packageManager in package.json does not start with pnpm@\n" | halt_error(1)  end' package.json)
          echo installing pnpm version $PNPM_VER
          npm i -g pnpm@$PNPM_VER
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
          package-manager-cache: true # caches pnpm via packageManager field in package.json
      - name: install
        run: pnpm install --frozen-lockfile --prefer-offline --ignore-scripts
      - name: sync
        run: pnpm -r sync # required to ensure sveltekit test project have tsconfig.json which may be required by the checks below
      - name: format
        run: pnpm check:format
      - name: lint
        if: (${{ success() }} || ${{ failure() }})
        run: pnpm check:lint
      - name: types
        if: (${{ success() }} || ${{ failure() }})
        run: pnpm check:types
      - name: audit
        if: (${{ success() }} || ${{ failure() }})
        run: pnpm check:audit
      - name: publint
        if: (${{ success() }} || ${{ failure() }})
        run: pnpm check:publint
      - name: generated types are up to date
        if: (${{ success() }} || ${{ failure() }})
        run: pnpm generate:types && [ "`git status --porcelain=v1`" == "" ]

  # "test" job runs on linux, windows, mac with node active lts and linux with node maintenance lts
  test:
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node: [22]
        os: [ubuntu-latest, macos-latest, windows-latest]
        vite: ['current']
        svelte: ['current']
        include:
          - node: 20
            os: ubuntu-latest
            vite: 'current'
            svelte: 'current'
          - node: 24
            os: ubuntu-latest
            vite: 'current'
            svelte: 'current'
          # baseline test lowest svelte, vite and node version
          - node: 20.19
            os: ubuntu-latest
            vite: 'baseline'
            svelte: 'baseline'
          # future test with rolldown-vite
          - node: 24
            os: ubuntu-latest
            vite: 'rolldown-vite'
            svelte: 'current'
    steps:
      - uses: actions/checkout@v5
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
          package-manager-cache: false # pnpm is not installed yet
      - name: install pnpm
        shell: bash
        run: |
          PNPM_VER=$(jq -r '.packageManager | if .[0:5] == "pnpm@" then .[5:] else "packageManager in package.json does not start with pnpm@\n" | halt_error(1)  end' package.json)
          echo installing pnpm version $PNPM_VER
          npm i -g pnpm@$PNPM_VER
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
          package-manager-cache: true # caches pnpm via packageManager field in package.json
      - name: install
        run: pnpm install --frozen-lockfile --ignore-scripts
      - name: downgrade vite to baseline
        if: matrix.vite == 'baseline'
        run: |
          pnpm update -r --no-save vite@6.3.0
          pnpm ls vite
      - name: downgrade svelte to baseline
        if: matrix.svelte == 'baseline'
        run: |
          pnpm update -r --no-save svelte@5.0.0
          pnpm ls svelte
      - name: update vite to rolldown-vite
        if: matrix.vite == 'rolldown-vite'
        run: |
          pnpm update -r --no-save vite@npm:rolldown-vite@latest
          pnpm ls rolldown-vite
      - name: install playwright chromium
        run: pnpm playwright install chromium
      - name: run tests
        run: pnpm test
      - name: check-types with rolldown-vite
        if: matrix.vite == 'rolldown-vite'
        run: pnpm check:types
      - name: archive tests temp directory
        if: failure()
        shell: bash
        run: tar -cvf test-temp.tar  --exclude="node_modules"  temp/
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: test-failure-${{github.run_id}}-os_${{ matrix.os }}-node_${{ matrix.node }}-vite_${{ matrix.vite }}-svelte_${{matrix.svelte}}
          path: |
            test-temp.tar
            pnpm-debug.log
