name: Release

on:
  push:
    branches:
      - main
permissions: {}

jobs:
  checks:
    permissions:
      contents: read
    if: github.repository == 'sveltejs/vite-plugin-svelte'
    name: Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: 'false'
      - uses: ./.github/actions/setup-node
      - name: generated types are up to date
        run: pnpm generate:types && [ "`git status --porcelain=v1`" == "" ]
      - name: publint
        run: pnpm check:publint

  changesets:
    needs: checks
    permissions:
      contents: write # to create releases (changesets/action)
      pull-requests: write # to create version pull requests (changesets/action)
    name: Changesets
    runs-on: ubuntu-latest
    outputs:
      published: ${{steps.changesets.outputs.published}}
      publishedPackages: ${{steps.changesets.outputs.publishedPackages}}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: 'false'
      - uses: ./.github/actions/setup-node
      - uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # v1.5.3
        id: changesets
        with:
          publish: pnpm exec changeset tag #only create git tag, publish to registry happens later
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # needed for some github api calls changesets makes

  publish:
    needs: changesets
    if: needs.changesets.outputs.published == 'true'
    permissions:
      contents: read
      id-token: write
    environment: release
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: 'false'
      - uses: ./.github/actions/setup-node
        with:
          install-deps: 'false'
      - name: publish
        shell: bash
        run: |
          echo 'publishing ${{needs.changesets.outputs.publishedPackages}}'

          # generate "--filter package1 --filter package2"
          PUBLISH_PACKAGES_FILTER=$(echo '${{needs.changesets.outputs.publishedPackages}}' | jq -r '.[] | " --filter " + "\"" + .name+ "\""' | xargs)

          if [[ -f .changeset/pre.json ]]; then
            TAG=$(jq -r '.tag' .changeset/pre.json)
          else
            TAG=latest
          fi

          GIT_STATUS=$(git status --porcelain=v1)
          if [[ "$GIT_STATUS" != "" ]]; then
            echo "dirty git state, aborting publish"
            echo "$GIT_STATUS";
            exit 1
          fi

          # publish
          pnpm -r --no-bail $PUBLISH_PACKAGES_FILTER publish --no-git-checks --tag $TAG --access public
